<div [ngClass]="'complete'"> <!-- ngClass Directive -->
  <h1 [ngClass]="isActive?'active':'inactive'">{{title}}</h1> <!-- ngClass Directive -->
  <!-- ngStyle Directive -->
  <table border="1" [ngStyle]="{
    'background-color':canSave?'gray':'blue',
    'color': canSave?'Black':'white'
  }">
    <tr>
      <td>Structural Directives</td>
      <td>Attribute Directives</td>
    </tr>

    <tr *ngFor="let s of structural; let i = index" > <!-- ngFor Directive -->
      <td>{{s}}</td>
      <td *ngIf="attribute[i]" >{{attribute[i]}}</td> <!-- ngIf Directive -->
    </tr>
  </table>
  <br>
  <input type="text" [(ngModel)]="op"> <!-- ngModel Directive -->
  <div [ngSwitch]="op">   <!-- ngSwitch Directive -->
    <div *ngSwitchCase="'+'">{{num1}}+{{num2}} = {{num1+num2}}</div>
    <div *ngSwitchCase="'-'">{{num1}}-{{num2}} = {{num1-num2}}</div>
    <div *ngSwitchCase="'*'">{{num1}}*{{num2}} = {{num1*num2}}</div>
    <div *ngSwitchCase="'/'">{{num1}}/{{num2}} = {{num1/num2}}</div>
    <div *ngSwitchDefault="">Invalid Input Symbol Enter "+" "-" "*" "/"</div>
  </div>
</div>
<div [ngClass]="'summary_piping'"> <!-- ngClass Directive -->
  <h2>Custom Piping called Summary</h2>
  {{text|summary}}  <!-- Custom Pipe called summary-->
</div>
<div [ngClass]="'wishing_piping'"> <!-- ngClass Directive -->
  <h2>Custom Piping called Wishing</h2> <!-- Custom Pipe called wishing-->
  {{person|wishing:wish}}<br>
  {{person1|wishing:wish}} <br>
  {{person2|wishing:wish}} <br>
</div>
<app-pipes></app-pipes>