//used for ngClass and ngStyle Directives
.active{
    color: red;
}
.inactive{
    color: blue;
}
.complete{
    background-color: rgb(233, 255, 182);
}
.summary_piping{
    background-color: peachpuff;
}
.wishing_piping{
    background-color: aliceblue;
}
